<p id="notice"><%= notice %></p>

<ul class = "list-group">
  <h3>Tareas Por Completar</h3>
  <% @todos.each do |todo| %>
    <% if !todo.completed? %>
    <li class = "list-group-item"><%= todo.task.description %>  <%= link_to 'Edit', edit_task_path(todo.task), class:"btn btn-secondary moveBotton btnBorder" %>  <%= link_to "Por Completar", update_todo_path(todo), method: :patch, class: "btn btn-warning moveBotton btnBorder" %>  </li>
    <% end %>
  <% end %>
</ul>
<br>
<ul class = "list-group">
  <h3>Tareas Completadas</h3>
  <% @todos.each do |todo| %>
    <% if todo.completed? %>
    <li class = "list-group-item"><%= todo.task.description %>  <%= link_to 'Destroy', todo.task, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger moveBotton btnBorder" %>  <%= link_to "Completada", update_todo_path(todo), method: :patch, class: "btn btn-primary moveBotton btnBorder" %></li>
    <% end %>
  <% end  %>
</ul>
<br>
<%= link_to 'New Task', new_task_path , class:"btn btn-info"%>
